<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input {
            margin: 8px 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }

    </style>
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <div class="row align-items-center">

                <div class="row-cols-2 align-content-center">
                    <input asp-controller="Auth" asp-action="Register" type="submit" value="Register" class="btn btn-success form-control" />
                </div>
                <div class="row-col-4 align-content-center">

                    <a asp-controller="Home" asp-action="Index" class="btn-primary btn form-control ">Back to Home</a>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
