@model int
<div class="text-center">
    <h1 class="text-info">Congrats your order is confirmed and you are one step closer to a delicious meal 🤤</h1>
    <p class="text-light">We have  your order and will be with you in 30 min during the working hours </p>
    <h2 class="text-warning">your OrderID is @Model </h2>
    <img src="Pics/R.PNG" style="width=80%;" />
</div>